.bx-slf-popup-title{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    line-height:30px;
    height:30px;
    margin-bottom:10px;
    vertical-align:top;
    color:#7f858d;
}
.bx-slf-popup-cont-title{
    font-weight: bold;
}
.bx-slf-popup-content{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    min-width:500px;
    padding:20px;
    color:#000;
    border-radius:2px;
    background-color:#edf1f3;
}
.bx-slf-popup-descript{
    font-size: 14px;
    margin-top: 23px;
    text-align: center;
}
.bx-slf-popup-descript-img{
    border: none;
    display: block;
    margin-top: 19px;
    margin: 19px auto 0;
}
